@import url(./style.css);
@import url(./Header.css);
@import url(./Footer.css);

h2{
font-size: x-large;
}

body{
    background-image: url(../Imagens/contactbackground.jpg);
    background-size:100% 125%;
    

}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}